ul{
  list-style: none;
  padding: 0;
}

li{
  padding: 0;
  margin: 0;
  transition: .2s;
  background-color: #343a40;
  border: none;
  width: 100%;
  text-align: left;
  list-style: none;
}
  
li:hover{
  border-left: 4px solid white;
  background-color: #212529;
  transition: .2s;
}

.haut-page{
  text-align: center;
}

.button-dash{
  background-color: #e4e8ff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  border-radius: 50px;
  text-align: center;
}

.logo-news {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.weather-container{
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: 5%;
  border-radius: 50px 
}

.covid-container{
  background-color: white ;
  padding: 10%;
  border-radius: 50px;
  border-color: red;
  border-style: solid;

}

.news-container{
  background-color: #213f77 ;
  padding: 5%;
  border-radius: 50px;
}

.article-container{
  background-color: #f0e300;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  border-radius: 50px;
  text-align: center;
}

.logo {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.foot-container{
  background-color: white ;
  padding: 5%;
  border-radius: 50px;
  border-color: green;
  border-style: solid;
}

.photoMatch{
  height: 200px;
}

.images-container{
  border-radius: 3.125em;
  border-style: solid;
  border-width: 0.063em;
  border-color: #814169;
  height: 15.7em;
  width: 21.875em;
  text-align: center;
}

.images{
  height: 185px;
  text-align: center;
}

.center{
  text-align: center;
}

@media (max-width: 576px){
  .sidebar{
    display: none;
  }
  .nav-small{
    display: inline;
  }
}